@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body {
    color: #222222;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
   
}


.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

.title-1 {
    font-size: 34px;
    font-weight: 600;
}


/* Header */

.header {
    padding-top: 70px;
    background-color: #211E1B;   
}

.logo {
    position: relative;
    padding: 0 12px 3px 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color:#A78F72;
}

.logo::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color:#A78F72;
    border-radius: 50%;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;   
}


/* ----Nav-BAR---- */

.nav-list {
    display: flex;
    column-gap: 40px;
    font-weight: 500;
    font-size: 14px;    
}

 .nav-list .nav-item a{
    color: #A78F72;
    
}

.nav-button {
    display: none;
    background-color: #ebe9e9;
    
}


/* ----HEADER-CONTENT---- */

.header-row {
    display: flex;justify-content: space-between;
    column-gap: 30px;
    padding-bottom: 170px;
    
}

.header-content {
    margin-top: 124px;
    max-width: 500px;
}

.header-heading {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 44px;
    color: #A78F72;
}
.header-img{
    padding-right: 17%;   
}

.header-img::after{
    content: ' ';
    display: block;
    width: 60%;
    height: 100%;
    border: 1px solid #A78F72;
    position: absolute;
    top: -1.5rem;
    right: 12.5rem;
    border-radius: 0.5rem;
    z-index: -1;
}
.imgback{
    position: absolute;
    top: -4rem;
    right: 10.5rem;
    z-index: -1;
}


.efect{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.efect span{
    display: block;
    width: 30px;
    height: 30px;
    border: 3px solid #A78F72;
    transform: rotate(45deg);
}
.efect2{
    position: absolute;
    top: 65%;
    right: 16%;
    transform: translate(-50%, -50%);
}
.efect2 span{
    display: block;
    width: 30px;
    height: 30px;
    border: 3px solid #A78F72;
    transform: rotate(45deg);
}

.auto-type{
    color: #A78F72;
}

.header-content p {
    line-height: 2;
    color: #A78F72;
}

  .btncv{
    font-size: 18px;
    background-color: #211E1B;
    color: #A78F72;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #A78F72;
    border-left: 10px solid #A78F72;
  }
  
  .btncv:hover{
    color: #211E1B;
    background-color: #A78F72;
  }
  

/* ----SKILLS---- */

.skills {
    padding: 100px 0;
    background-color: #25303B; 
}

.skills-title {
    margin-bottom: 70px;
    text-align: center;
    color:  #A78F72 ;
    font-weight: 500;
}
.skills-row {
    display: flex;
    column-gap: 30px;
    row-gap: 60px;
    flex-wrap: wrap;
}

.skills-card {
    flex: 1 1 0;
    min-width: 315px;
    
    color: #211E1B;
}
#skilhtml,#skilcss,#skiljs{
    font-size: 70px;
    cursor: pointer;
}
#skilcss:hover{
    color: #254BDD;
  }
  #skilhtml:hover{
    color: #DD4B25;
  }
  #skiljs:hover{
    color: #EFD81D;
  }

.skills-card-img {
    margin-bottom: 30px;
}

.skills-card-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    color:#A78F72 ;
}

.skills-card p {
    line-height: 2;
    color: #A78F72 ;
}


/* ----PROJECTS---- */

.projectos {
    background-color: #211E1B; 
    padding: 90px 0;
  }
  
  .projectos .content-projecto {
    max-width: 56rem;
    text-align: center;
    margin: 0 auto 6rem;
    padding-top: 70px;
  }
  
  .projectos ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }
  
  .projectos ul li.projects__reversed-list {
    flex-direction: row-reverse;
    margin-right: 30px;
    
  }
  
  .projectos ul li:not(:last-of-type) {
    margin-bottom: 12rem;
  }
  
  .projectos ul li .image img {
    width: 100%;
    min-width: 40rem;
    max-width: 47rem;
    height: auto;
  }
  
  .projectos ul li .inf-projectos {
    max-width: 47rem;
  }
  
  .projectos  p {
    margin: 1rem 0 4rem;
    color:#A78F72 ;
   
  }
  .projectos a{
    color: #3a3733;
  }
  .secondary-title{
    color: #A78F72;
  }
  .tertiary-title{
    color: #A78F72;
  }

  .ico{
    font-size: 40px;
    color: #3a3733;
    cursor: pointer;
    
  }
   #icocss:hover{
    color: #254BDD;
  }
  #icohtml:hover{
    color: #DD4B25;
  }
  #icojs:hover{
    color: #EFD81D;
  }
  

/* Footer */

.contacts {
   background-color: #25303B; 
    padding: 90px 0;
    text-align: center;
}

.contacts-title {
    margin-bottom: 40px;
    color: #A78F72 ;
    font-weight: 400;
}

.contacts-content {
    margin: 0 auto 40px;
    max-width: 480px;
    font-size: 18px;
}

.contacts-content p + p {
    margin-top: 1em;
}

.contacts-button {
    margin-bottom: 60px;
}

.contacts-social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-bottom: 30px;
    padding-top: 20px;
    font-size: 50px;
    color: #A78F72;
}
.contacts-social a i{
  color: #A78F72;
}
.contacts-content p{
    color:#A78F72 ;
}

.contacts-footer {
    color: #A78F72 ;
}
  .btnmsg{
    font-size: 18px;
    background-color:#25303B;
    color: #A78F72;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #A78F72;
    border-left: solid 10px #A78F72;
    
  }
  .btnmsg:hover{
    color: #25303B;
    background-color: #A78F72;
  }
  
  



