@media (max-width: 1230px) {
	.nav-list {
		display: none;
	}

	.nav-button {
		display: block;
		
	}

	.nav.open .nav-list {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #FFFFFF;

		z-index: 1;
		padding: 46px 30px;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 20%;
		
	}
	.nav.open .nav-list li{
		margin-right: 0;
	}
	.nav.open .nav-list li a{
		padding: 5px;
		display: block;
		text-align: center;
	}

	.nav-button {
		position: absolute;
		z-index: 9;
		top: 46px;
		right: 30px;
	}

    .nav.open .nav-button {
        position: fixed;
    }

	.header-nav {
		margin-bottom: 50px;
	}

	.header-row {
		flex-direction: column;
		row-gap: 20px;
	}

	.header-content {
		margin-top: 0;
	}
	.header-content p{
		font-size: 14px;
	}

	.header-img, .imgback {
		text-align: center;
		margin-top: 40px;
	}
	
	.efect{
		display: none;
		
	}
	.efect2{
		display: none;	
	}

	#skills-card-title1{
		color: #000;
	}	
}



@media (max-width: 768px) {
	.header-heading {
		font-size: 30px;
		line-height: 1.3;
	}
     

	.header-heading span {
		font-size: 20px;
	}
	

	.skills {
		padding: 60px 0;
		text-align: center;
	}

	.projectos {
		padding: 60px 0;
	}

	.projectos-title {
		margin-bottom: 50px;
		
	}

	.project-img {
		margin-bottom: 30px;
	}

	.project + .project {
		margin-top: 55px;
	}

	.contacts {
		padding: 60px 0;
	}

	.contacts-title {
		margin-bottom: 20px;
	}

	.contacts-content {
		margin-bottom: 20px;
		font-size: 8px;
		font-weight: 500;
	}

	.contacts-button {
		margin-bottom: 70px;
	}

	.contacts-social {
		column-gap: 50px;
		margin-bottom: 20px;
	}
      .title-1{
		font-size: 20px;
	  }
	
	  .projectos ul li,
    .projectos ul li.projects__reversed-list {
      flex-direction: column;
    }
  
    .projectos ul li .inf-projectos {
      max-width: 66rem;
    }
  
    .projectos ul li .image img {
      min-width: auto;
    }
	 
}
